<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366831226717-1rflqge81ee5h1q2nn4r0520in49n77a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366831226717-1rflqge81ee5h1q2nn4r0520in49n77a</string>
	<key>API_KEY</key>
	<string>AIzaSyCJoT6Pr5fA4f8rgmB0ozeqvNWLyEgpbEI</string>
	<key>GCM_SENDER_ID</key>
	<string>366831226717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planzapp</string>
	<key>PROJECT_ID</key>
	<string>planzappdb</string>
	<key>STORAGE_BUCKET</key>
	<string>planzappdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366831226717:ios:0ecafefdf9c75b782562b4</string>
	<key>DATABASE_URL</key>
	<string>https://planzappdb.firebaseio.com</string>
</dict>
</plist>